//colors

$white: #fff;
$black: #000;
$sapling: #dfd7a7;
$peat: #6d6a54;
$vida-loca: #5b8a16;
$gray-nickel: #b2b3af;
$gray-nurse: #ebedeb;
$heavy-metal: #212924;
$heavy-metal-light: #202221;
$xanadu: #757675;
$delta: #acada9;
$ercu-white: #f2efdc;
$lemon-grass: #96958e;
$edward: #a6a9a7;
$olivine: #94b367;
$sprout: #cddcb9;
$pine-glade: #adc48a;
$aths-special: #e8e3c3;
$nobel: #b7b7b7;

$sapling-op-05: rgba(223, 215, 167, .05);
$sapling-op-15: rgba(223, 215, 167, .15);
$sapling-op-4: rgba(223, 215, 167, .4);

$xanadu-op-4: rgba(117, 118, 117, .4);

$black-op-5: rgba(0, 0, 0, .5);