#content {
  flex: 0 1 auto;
}

#content .l-offset-xs-bottom {
  margin-bottom: 20px;
}

#content .l-offset-sm-bottom {
  margin-bottom: 40px;
}

#content .l-offset-lg-bottom {
  margin-bottom: 280px;
}

#content .l-offset-sm-left {
  margin-left: 30px;
}

#content .l-offset-left {
  margin-left: 46px;
}




