#footer {
  background-color: $heavy-metal;
  height: 233px;
  margin-top: 100px;

  @include respond-below(md) {
    margin-top: 80px;
  }

  @include respond-below(xs) {
    height: auto;
    margin-top: 40px;
  }

  >div {
    @include respond-below(sm) {
      align-items: center;
      flex-direction: column-reverse;
    }
  }

  .l-offset-bottom {
    margin-bottom: 44px;
  }
}
