.l-wrapper {
  margin: 0 auto;
  max-width: 1060px;
  min-width: 320px;
  padding-top: 80px;
  position: relative;
}

.l-flex {
  display: flex;
}

.l-space-between {
  justify-content: space-between;
}

.l-wrap {
  flex-wrap: wrap;
}

.l-gorizontal-end {
  justify-content: flex-end;
}

.l-text-right {
  text-align: right;
}

.l-highlight-text {
  font-size: 15px;
  font-weight: bold;
}