#header {
  background: url('../images/header-bg.jpg') no-repeat $black;
  background-size: cover;
  width: 100%;

  .l-top-offset {
    margin-top: 8px;
  }

  .l-negative-offset {
    margin-left: -24px;
  }

  .l-wrapper {
    >.l-flex {
      &:first-child {
        @include respond-below(xs) {
          flex-direction: column;
        }
      }
    }
  }
}

