#header {
  background: url('../images/header-bg.jpg') no-repeat $black;
  background-size: cover;
  height: 300px;
  width: 100%;

  .l-top-offset {
    margin-top: 8px;
  }

  .l-negative-offset {
    margin-left: -24px;
  }
}
