#main .l-offset-bottom {
  margin-bottom: 50px;

  @include respond-below(md) {
    margin-bottom: 30px;
  }
}

#main .l-offset-top {
  margin-top: 87px;

  @include respond-below(md) {
    margin-top: 67px;
  }
}

#main .l-full-width {
  width: 100%;
}

#main .l-aside-left {
  margin-right: 6.6%;
  width: 16.98%;
}

#main .l-aside-right {
  margin-left: 8.49%;
  width: 23.58%;
}

#main .l-content-right {
  width: 76.415%;
}

#main .l-content-left {
  width: 67.92%;
}
