.headline {
  color: $heavy-metal;
  font-family: arimo, sans-serif;
  font-weight: bold;
  line-height: 1.15;
  margin-bottom: 0;
  margin-top: 0;

}

.headline--primary {
  font-size: 25px;

  @include respond-below(md) {
    font-size: 20px;
  }
}

.headline--secondary {
  font-size: 17px;
}
