.login {
  align-self: center;
  color: $sapling;
  flex: 0 1 auto;
  font-size: 14px;
}

.login-nav {
  color: $sapling;
  margin-left: auto;

  &:hover {
    border-bottom: 1px solid $sapling;
  }
}
