.menu {
  height: 70px;

  @include respond-below(sm) {
    box-shadow: inset -15px 0 15px -9px  $black-op-5;
    margin-right: 25px;
    overflow-x: scroll;
    width: 70%;
  }
}

.menu--item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  padding: 0 23px;

  &:hover {
    background-color: $sapling-op-05;
  }
}

.menu--link {
  align-items: center;
  color: $sapling;
  display: flex;
  font-size: 15px;
  height: 100%;
}

.menu--item-active {
  border-bottom: 6px solid $vida-loca;
}
