.stats-list--item {
  color: $lemon-grass;
  font-style: italic;
  margin-bottom: 21px;
}

.stats-list--data {
  color: $heavy-metal;
  font-style: normal;
}

.stats-list--item__bold {
  color: $heavy-metal;
  font-style: normal;
  font-weight: bold;
}
