.table {
  color: $heavy-metal;
  font-size: 13px;
  width: 100%;
}

.table--last {
  margin-bottom: 80px;
}

.table--row {
  height: 50px;

  &:nth-child(even) {
    background-color: $ercu-white;
  }
}
