.table {
  color: $heavy-metal;
}

.table--last {
  margin-bottom: 80px;
}

.table--row {
  height: 50px;

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(even) {
    background-color: $ercu-white;
  }
}

@include respond-below(sm) {
  .table {
    max-width: 100%;
    width: 100%;
  }

  .responsive-table {
    overflow-x: auto;
    width: 100%;
  }

  td {
    min-width: 100px;
    text-align: center;
  }
}
